<div class="container">
    <div class="row justify-content-center">
      <div class =''>
        <page-title></page-title>
      </div>
      <div class="col-3">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3">
        <!-- <p>No content here yet...</p> -->
        <fav-photos></fav-photos>
        
      </div>
  
      <div class="col-3">
        <!-- <p>No content here yet...</p> -->
        <chores-list></chores-list>
      </div>
      <div class="">
      <!-- fav-links -->
      <fav-links></fav-links>
      </div>
    </div>
  </div>
  
